.top2_container{
    box-sizing: border-box;
    box-pack: justify;
    display: flex;
    background-color: #e42529;
    color: #fff;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 16px 8px 48px;
    align-items: flex-end;
    font-weight: 400;
    margin: 0;
    width: 100%;
    height: 65px;
    box-align: end;
}
.search_box{
    width : 400px;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 18px;
    outline: none;
}
.search_bar{
    padding: 20px 20px ;
}


.search_icon{
    cursor: pointer;

}

.search_icons {
    display: flex;
    gap: 1rem;
}

.top2_search {
    width: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 6px 15px;
}



.top2_search_box{
    display: flex;
    justify-content: space-between;
}

.top2_search_input{
    outline: none;
    border: none;
    width: 500px;
}

.user{
    cursor: pointer;
}

.signout {
    cursor: pointer;
}